@import "base";
@import "~normalize.css/normalize";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.view-ticket-item {
  width: 90%;
  margin: .5rem .75rem;
  padding: .25rem;
  background-color: lightcoral;
  font-size: 90%;
  border-radius: .15rem;
}

.ticket-sender {
  font-weight: bold;
}

.ticket-message {
  margin-left: .5rem;
}

.ticket-message-time {
  font-size: 80%;
  margin-left: .75rem;
}